.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.image-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.image {
  width: 400px;
  height: 300px;
}
